@charset "UTF-8";

* {
	box-sizing: border-box;
}

div#wrap>div {
	width: 410px;
	border: 1px solid #ccc;
}



div#wrap>div:last-child {
	text-align: center;
	padding: 10px;
	border-top: none;
	color: #888;
	font-size: 17px;
}

div input {
	padding: 15px;
	font-size: 17px;
	background-color: #eee;
	border: none;
    outline: none;
}
span#loginAlert{
    display: block;
    width: 410px;
    font-size: 20px;
    color: #ff0000;
    font-size: 18px;
    display: none;
    text-align: center;
    padding: 3px;
    margin-top: 15px;
    text-decoration: underline;
}



div button {
	width: 120px;
	height: 120px;
	border: none;
	background-color: #f80;
	font-size: 18px;
	color: #fff;
    outline: 0;
}

/* table, td {
	border: 1px solid #000;
	border-collapse: collapse;
} */


table td {
	padding: 10px;
}
